// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// General
.dbootstrap .dijitEditor {
    border: 1px solid $navbarBorder;
    .dijitButtonNode{
    	box-shadow:0px 1px 1px 0px #E2E2E8 !important;
    	border:1px solid #E9E8FA;
    }
}

.dbootstrap .dijitEditorDisabled {
    opacity: 0.65;
}
