// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .dijitRadio {
    @extend .dbootstrap .dijitCheckBox;
    border-radius: 20px;
    border:1px solid #4FC1E9;
    box-shadow:none !important;
}

.dbootstrap .dijitRadio input {
    @extend .dbootstrap .dijitCheckBox input;
}

.dbootstrap .dijitRadioDisabled {
    @extend .dbootstrap .dijitCheckBoxDisabled;
}

.dbootstrap .dijitRadio:before {
    @extend .dbootstrap .dijitCheckBox:before;
}

.dbootstrap .dijitRadio.dijitRadioChecked:before {
    @extend .icon-circle:before;
    font-size: 8px;
	top: -3px;
	color: #4FC1E9;
}
